body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 1px);
  }
  
  button {
    font-family: inherit;
  }
  
  .container, .thank-you {
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 25rem;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container img {
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
  }
  
  .container h1 {
    color: white;
    margin: 2rem 0 1rem;
  }
  
  .container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
  }
  
  .container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: white;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: hsl(25, 97%, 53%);
  }
  
  .btn:focus {
    background-color: hsl(217, 12%, 63%);
  }
  
  .btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 1.875rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
  }
  
  .thank-you img {
    display: block;
    margin: 0 auto 2rem;
  }
  
  .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .thank-you p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 2rem;
  }
  
  .thank-you h2 {
    color: white;
    margin-bottom: 1rem;
  }
  
  .thank-youp {
    background-color: hsl(213, 20%, 22%);
    border-radius: 1.875rem;
    color: hsl(25, 97%, 53%);
    padding: 0.2rem 0.5rem 0;
    font-size: 0.85rem;
    margin-bottom: 2rem;
  }
  
  .attribution {
    font-size: 0.875rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
  }
  
  .hidden {
    display:none;

  }